[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/shaneahmed/DAStats/blob/main/Introduction%20to%20Python.ipynb) 

[![Open In Kaggle](https://kaggle.com/static/images/open-in-kaggle.svg)](https://kaggle.com/kernels/welcome?src=https://github.com/shaneahmed/DAStats/blob/main/Introduction%20to%20Python.ipynb)


# Introduction to Python

<b> Gabriele Pergola (gabriele.pergola@warwick.ac.uk) </b> <br> 
Credits to James Ravenscroft and [Python beginners guide](https://www.python.org/about/gettingstarted/).

Python is simple to use, but it is a real programming language, offering much more structure and support for large programs
than shell scripts or batch files can offer.
If you do much work on computers, eventually you find that there’s some task you’d like to automate. Python can help you automate those tasks.

It is a general purpose scripting language frequently used for data science and machine learning applications. It is open source and available on many different platforms (Windows, Mac OSX, Linux, Android and more)

### Versions
In [December 2019](https://pythonclock.org/) the Python foundation has stopped the support for the 2.X family. Therefore, we will be focussing on Python 3.X only.

---------------------------------------------------------------------
## Basic Syntax

 * Python 3 looks like many other modern programming languages such as C, Java, PHP and Perl. 
 * There are no semi-colons at the end of lines
 
 <img src="https://pbs.twimg.com/media/DIU3U8gVoAE4wIQ.jpg" width="250" height="150">

------------------------------------------------
## Using Python as a Calculator
Python interpreter acts as a simple calculator: you can type an expression at it and it will write the value. Expression syntax is straightforward: the operators +, -, * and / work just like in most other languages. Let’s try some simple Python commands.

In [ ]:
2 + 2

4

In [ ]:
50 - 5*6

20

    Division always returns a floating point number. We will discuss python data types shortly.

In [ ]:
8 / 5

1.6

    Floor division using the operator // discards the fractional part

In [ ]:
8//5

1

    The % operator returns the remainder of the division

In [ ]:
17 % 3

2

    For power calculations use the ** operator

In [ ]:
5 ** 2

25

    Parentheses (()) can be used for grouping.

In [ ]:
(50 - 5*6) / 4

5.0

---------------------------------
## Variables
The equal sign (=) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive
prompt:

In [ ]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

    If a variable is not “defined” (assigned a value), trying to use it will give you an error

In [ ]:
n

NameError: name 'n' is not defined

    In interactive mode, the last printed expression is assigned to the variable _. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [ ]:
_

12.5625

In [ ]:
price + _

113.0625

In [ ]:
round(_, 2)

113.06

--------------------------------------------
## Basic Objects and Structures

### Numbers
There are four types: integers, floats, booleans and complex numbers.

#### Integer

In [ ]:
an_int = 1
print("Int:", an_int)
print(type(an_int))

Int: 1
<class 'int'>

#### Float

In [ ]:
a_float = 1.235
print("Float:", a_float)
print(type(a_float))

Float: 1.235
<class 'float'>

#### Bool

In [ ]:
a_bool = False
print("Bool:",a_bool)
print(type(a_bool))

Bool: False
<class 'bool'>

#### Complex Number

In [ ]:
a_complex = 2j
print("Complex:",a_complex)
print(type(a_complex))

Complex: 2j
<class 'complex'>

### Container Objects

<img src="https://raw.githubusercontent.com/shaneahmed/StatswithPython/main/data/embedded_images/Containers.jpg" width="500">

#### Strings
Python can manipulate strings, which can be expressed in several ways. They can be enclosed in
single quotes ('...') or double quotes ("...") with the same result. Comments can be added using the '#' key

In [ ]:
"hello world" # Comments

'hello world'

    We can assign a string to a variable

In [ ]:
a_string = "hello world"
a_string

'hello world'

In [ ]:
'python can't print this string'

SyntaxError: invalid syntax (<ipython-input-19-ef648ec2ed19>, line 1)

    use \ to escape the single quote

In [ ]:
'it didn\'t work before with the quote'

"it didn't work before with the quote"

    you can also use double quotes

In [ ]:
"it didn't work before with the single quote"

"it didn't work before with the single quote"

In [ ]:
"python can " "combine " "multiple" "strings"

'python can combine multiplestrings'

    This feature is particularly useful when you want to break long strings:

In [ ]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

    The print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters. for example \n to create a new line.

In [ ]:
'First line.\nSecond line.'

'First line.\nSecond line.'

In [ ]:
print('First line.\nSecond line.')

First line.
Second line.

    String literals can span multiple lines. Another way is using triple-quotes: """..."""

In [ ]:
print("""
Usage: example [OPTIONS]
       -h Display this usage message
       -H hostname Hostname to connect to
""")

Usage: example [OPTIONS]
       -h Display this usage message
       -H hostname Hostname to connect to

    you can use raw strings by adding an r before the first quote

In [ ]:
print(r'First line.\nSecond line.')

First line.\nSecond line.

    Integers can be combined with strings to display multiple characters

In [ ]:
print("python is fu" + 5*"n" + "!")

python is funnnnn!

##### Indexing
Strings can be indexed (subscripted), with the first character having index 0.

In [ ]:
word = 'Python'
print(word[0]) # character in position 0

P

In [ ]:
print(word[5]) # character in position 5

n

    Indices may also be negative numbers, to start counting from the right:

In [ ]:
word[-1] # last character

'n'

In [ ]:
word[-2] # second-last character

'o'

In [ ]:
word[-6]

'P'

    In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring

In [ ]:
word[0:2] # characters from position 0 (included) to 2 (excluded)

'Py'

In [ ]:
word[2:5] # characters from position 2 (included) to 5 (excluded)

'tho'

    Slice indices have useful defaults; an omitted first index defaults to zero, an omitted second index defaults to the size of the string being sliced.

In [ ]:
word[:2] # character from the beginning to position 2 (excluded)

'Py'

In [ ]:
word[4:] # characters from position 4 (included) to the end

'on'

In [ ]:
word[-2:] # characters from the second-last (included) to the end

'on'

    Attempting to use an index that is too large will result in an error:

In [ ]:
word[42] # the word only has 6 characters

IndexError: string index out of range

    However, out of range slice indexes are handled gracefully when used for slicing:

In [ ]:
word[4:42]

'on'

In [ ]:
word[42:]

''

    Python strings cannot be changed — they are immutable. Therefore, assigning to an indexed position in the string results in an error:

In [ ]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

    If you need a different string, you should create a new one:

In [ ]:
'i' + 'P' + word[1:]

'iPython'

#### List

Lists can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

    Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [ ]:
squares[0] # indexing returns the item

1

In [ ]:
squares[-3:] # slicing returns a new list

[9, 16, 25]

    Strings and numbers can be mixed

In [ ]:
mixed = ["sometext", 1.234, 1, True, False]

print(mixed)

['sometext', 1.234, 1, True, False]

    Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content:

In [ ]:
cubes = [1, 8, 27, 65, 125] # something's wrong here
cubes

[1, 8, 27, 65, 125]

In [ ]:
4 ** 3 # the cube of 4 is 64, not 65!

64

In [ ]:
cubes[3] = 64 # replace the wrong value
cubes

[1, 8, 27, 64, 125]

    You can also add new items at the end of the list, by using the append() method

In [ ]:
cubes.append(7 ** 3)
cubes

[1, 8, 27, 64, 125, 343]

It is possible to nest lists

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

#### Tuples

Tuples Like a list but immutable. It makes your code safer in protecting data that does not need to be changed. This also means that tuples are very efficient with regard to memory consumption and runtime.

In [ ]:
atuple = (123, "hello world")

print (atuple[0])

123

In [ ]:
atuple[0] = 321 # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

#### Set

Like a mathematical set - can be used to filter out duplicates in lists and check for membership.

In [ ]:
spamlist = ["spam","spam","spam","spam","eggs","eggs","bacon", "spam"]
setA = set(spamlist)
print("list:", spamlist)
print("set:", setA)

list: ['spam', 'spam', 'spam', 'spam', 'eggs', 'eggs', 'bacon', 'spam']
set: {'eggs', 'bacon', 'spam'}

In [ ]:
setB = {'spaghetti', 'eggs', 'sausages', 'prosecco'}

print("\nSet operations: ")
print("- Intersection A,B",setA.intersection(setB)) #should print 'eggs' which is in both sets
print("- Union A,B",       setA.union(setB))        #should print all items in both sets
print("- Difference A,B",  setB.difference(setA))

Set operations:
- Intersection A,B {'eggs'}
- Union A,B {'eggs', 'spaghetti', 'sausages', 'bacon', 'spam', 'prosecco'}
- Difference A,B {'spaghetti', 'sausages', 'prosecco'}

#### Dictionary or dict

dicts are essentially like a HashMap in Java - a mutable set of key -> value pairs maintained in memory. Python allows you to access the items using the indexing syntax described above for lists.

In [ ]:
mydict = {"spam" : "eggs", "bacon" : "sausage"}

print(mydict['spam'])

eggs

In [ ]:
mydict['bacon'] = "fried bread"

print(mydict)

{'spam': 'eggs', 'bacon': 'fried bread'}

    It is possible to get a list of keys or a list of values or even a list of tuples describing keys and values.

In [ ]:
print("keys:",    mydict.keys())
print("values:",  mydict.values())
print("entries:", mydict.items())

keys: dict_keys(['spam', 'bacon'])
values: dict_values(['eggs', 'fried bread'])
entries: dict_items([('spam', 'eggs'), ('bacon', 'fried bread')])

---------------------------------

## Loops and iteration

for loops in Python are one of the most powerful features of the language - especially when combined with some of the more advanced concepts as described below.

A basic for loop looks like this:

### _For_ loop

In [ ]:
iterable = [1,2,3,4,5]

for item in iterable:
    print(item)

1
2
3
4
5

    You can expand lists of tuples using for loops so that each part of the tuple is accessible. 
 Remember how I said we could iterate over keys ***and*** values in a dict earlier?

In [ ]:
print(mydict) # My dictionary

for key,value in mydict.items():
    print("key=",key,", value=",value)

{'spam': 'eggs', 'bacon': 'fried bread'}
key= spam , value= eggs
key= bacon , value= fried bread

    We can also keep count of how many times we've been around the loop using the Python *enumerate* function.

In [ ]:
items = ["spam","eggs","sausages","bacon"]

for i, item in enumerate(items):
    print ("This is item", i)
    print("Item:",item)
    if i <1:
        print ("This is the first time around the loop")

This is item 0
Item: spam
This is the first time around the loop
This is item 1
Item: eggs
This is item 2
Item: sausages
This is item 3
Item: bacon

    If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

### _While_ Loop
The while loop executes as long as the condition (here: a < 10) remains true.

In [ ]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

## _if_ statement

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 42
More

---------------------------------------

## Functions

Function definitions in Python are very simple.

In [ ]:
def square(x):
    y = x * x
    return y

In [ ]:
#what is the square of 2? should print 4
print("2 x 2 = ", square(2))

2 x 2 =  4

    Functions can have many parameters and default values can be specified too

In [ ]:
def square(x=0):
    y = x * x
    return y

def cube(x=0):
    return x * x * x

def domaths(number, operation):
    return operation(number)

print("Square default behavior: ", square())

Square default behavior:  0

In [ ]:
print("Square function is now the argument: ", domaths(2, square))

Square function is now the argument:  4

In [ ]:
print("Now lets cube: ", domaths(2,cube))

Now lets cube:  8

In [ ]:
# Fibonacci series function
def fib(n): # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b


fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

## Conclusion

That's the end of basic syntax.
But before:
<img src="https://raw.githubusercontent.com/shaneahmed/StatswithPython/main/data/embedded_images/eagleson_law.jpg" width="600">