[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/shaneahmed/StatswithPython/blob/main/03-DataVisualisation.ipynb) 

[![Open In Kaggle](https://kaggle.com/static/images/open-in-kaggle.svg)](https://kaggle.com/kernels/welcome?src=https://github.com/shaneahmed/StatswithPython/blob/main/03-DataVisualisation.ipynb)

# Data Visualisation Techniques
In this notebook we will focus on data visualisation techniques using python. We will mainly work with three python packages pandas, seaborn and matplotlib. We will also consider calculating correlation between multiple variables. Let's start with installing required libraries.

In [1]:
!pip install pandas seaborn matplotlib

Requirement already satisfied: pandas in c:\tools\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: seaborn in c:\tools\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: matplotlib in c:\tools\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: numpy>=1.15.4 in c:\tools\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\tools\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\tools\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: scipy>=1.0 in c:\tools\anaconda3\lib\site-packages (from seaborn) (1.5.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\tools\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\tools\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\tools\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\tools\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: cycler>=0.10 in c:\tools\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\tools\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

Load required libraries

In [3]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

We will start with loading builtin data set `iris` in `seaborn` package. The [iris (Fisher data set)](https://archive.ics.uci.edu/ml/datasets/iris) is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant. The data set has following attributes:

1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:\
    -- Iris Setosa\
    -- Iris Versicolour\
    -- Iris Virginica

In [6]:
iris = sns.load_dataset('iris')

Let's have a look at the data set

In [7]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]