[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/shaneahmed/DAStats/blob/main/Introduction%20to%20Python.ipynb)


# DA-STATS Introduction to Python

<b> Gabriele Pergola (gabriele.pergola@warwick.ac.uk) </b> <br> 
Credits to James Ravenscroft.

Python is simple to use, but it is a real programming language, offering much more structure and support for large programs
than shell scripts or batch files can offer.
If you do much work on computers, eventually you find that there’s some task you’d like to automate. Python can help you automate those tasks.

It is a general purpose scripting language frequently used for data science and machine learning applications. It is open source and available on many different platforms (Windows, Mac OSX, Linux, Android and more)

### Versions
In [December 2019](https://pythonclock.org/) the Python foundation has stopped the support for the 2.X family. Therefore, we will be focussing on Python 3.X only.

---------------------------------------------------------------------
## Basic Syntax

 * Python 3 looks like many other modern programming languages such as C, Java, PHP and Perl. 
 * There are no semi-colons at the end of lines
 
 <img src="https://raw.githubusercontent.com/shaneahmed/DAStats/main/data/python_picture.jpg?token=ADDRVCCDV7NWADU3XDVYX4S7ZISQ2" width="250" height="150">

------------------------------------------------
## Using Python as a Calculator
Python interpreter acts as a simple calculator: you can type an expression at it and it will write the value. Expression syntax is straightforward: the operators +, -, * and / work just like in most other languages. Let’s try some simple Python commands.

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

    Division always returns a floating point number. We will discuss python data types shortly.

In [3]:
8 / 5

1.6

    Floor division using the operator // discards the fractional part

In [4]:
8//5

1

    The % operator returns the remainder of the division

In [5]:
17 % 3

2

    For power calculations use the ** operator

In [6]:
5 ** 2

25

    Parentheses (()) can be used for grouping.

In [7]:
(50 - 5*6) / 4

5.0

---------------------------------
## Variables
The equal sign (=) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive
prompt:

In [8]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

    If a variable is not “defined” (assigned a value), trying to use it will give you an error

In [9]:
n

NameError: name 'n' is not defined

    In interactive mode, the last printed expression is assigned to the variable _. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [11]:
_

12.5625

In [12]:
price + _

113.0625

In [13]:
round(_, 2)

113.06

--------------------------------------------
## Python Data Types


### Fundamental types
We will work with 4 main "basic" types: strings, integers, floats and booleans.

#### String
Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in
single quotes ('...') or double quotes ("...") with the same result. Comments can be added using the '#' key

In [18]:
"hello world" # Comments

'hello world'

    We can assign a string to a variable

In [7]:
a_string = "hello world"
a_string

'hello world'

In [8]:
'python can't print this string'

SyntaxError: invalid syntax (<ipython-input-8-79fa339145c1>, line 1)

    use \ to escape the single quote

In [13]:
'it didn\'t work before with the quote'

"it didn't work before with the quote"

    you can also use double quotes

In [26]:
"it didn't work before with the single quote"

"it didn't work before with the single quote"

In [16]:
"python can " "combine " "multiple" "strings"

'python can combine multiplestrings'

    This feature is particularly useful when you want to break long strings:

In [29]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

The print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters. for example \n to create a new line.

In [23]:
'First line.\nSecond line.'

'First line.\nSecond line.'

In [24]:
print('First line.\nSecond line.')

First line.
Second line.

    String literals can span multiple lines. Another way is using triple-quotes: """..."""

In [35]:
print("""
Usage: example [OPTIONS]
       -h Display this usage message
       -H hostname Hostname to connect to
""")

Usage: example [OPTIONS]
       -h Display this usage message
       -H hostname Hostname to connect to

you can use raw strings by adding an r before the first quote

In [25]:
print(r'First line.\nSecond line.')

First line.\nSecond line.

#### Integer

In [36]:
an_int = 1
print("Int:", an_int)
print(type(an_int))

Int: 1
<class 'int'>

    Integers can be combined with strings to display multiple characters

In [39]:
print("python is fu" + 5*"n" + "!")

python is funnnnn!

#### Float

In [40]:
a_float = 1.235
print("Float:", a_float)
print(type(a_float))

Float: 1.235
<class 'float'>

#### Bool

In [41]:
a_bool = False
print("Bool:",a_bool)
print(type(a_bool))

Bool: False
<class 'bool'>